body{
  background-color: #282c34;
  color: white;
  width: 80%;
  margin: auto;
}
.textBlock{
  margin:auto;
}
.textBlock h1{
  text-align: center;
}
.textBlock p{
  text-align:justify;
}
.textxpicContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.textxpic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 901px){
  .MainHead{
    background-color: gray;
    height: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .MainHeadChild{
  }
  .mobileBreak{
    visibility: hidden;
  }
}
@media only screen and (max-width: 900px){
  .MainHead{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .MainHeadChild{
  }
  .mobileBreak{
    visibility: visible;
  }
}
