body{
  background-color: #282c34;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
a:link{
  color: white;
}
a:visited{
  color: darkgray;
}
.navBarContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  position: fixed;
  top: 0;
  width: 80%;
  max-width: 1000px;
  background-color: #282c34;
}
.navBarContainer a{
  width: 25%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 16px;
  text-decoration: none;
}
.navBarContainer a:hover{
  background-color: purple;
}
.navBarContainer a:visited{
  color: white;
}
.navPadding{
  height:20px;
}
.textBlock{
  margin:auto;
  width: 100%;
}
.textBlock h1{
  text-align: center;
}
.textBlock h3{
  text-align: center;
}
.textBlock p{
  text-align:justify;
}
.textxpicContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.textxpic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.researchContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.researchItem{
  border: 4px solid white;
  border-style: double;
  text-align: center;
}
.researchItem p{
  margin: 10px;
  text-align: justify;
}
.padding{
  height: 20px;
}
.publicationBlock h3{
  margin: 0px;
  padding: 0px;
}
.publicationBlock p{
  margin: 0px;
  padding: 0px;
}
.socialLinksContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.socialLinksContainer-Row{
}
@media only screen and (min-width: 901px){
  body{
    max-width: 1000px;
  }
  .MainHead{
    background-color: gray;
    height: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .MainHeadChild{
    flex: 1;
  }
  .mobileBreak{
    visibility: hidden;
  }
  .mobilepadding{
    width: 20px;
  }
  .researchContainerChild{
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .researchItem{
    flex: 1;
  }
  .researchItem h3{
    height: 50px;
  }
}
@media only screen and (max-width: 900px){
  .MainHead{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .MainHeadChild{
  }
  .mobileBreak{
    visibility: visible;
  }
  .mobilepadding{
    height: 20px;
    visibility: visible;
  }
  .researchContainerChild{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
